spring:
  application:
    name: redis-ecommerce

  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5432/shopfast
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000ms

  # Cache Configuration
  cache:
    type: redis
    redis:
      time-to-live: 600000

# Server Configuration
server:
  port: 8080

#Logging
logging:
  level:
    com.shopfast.redis_ecommerce: DEBUG
    org.springframework.data.redis: DEBUG
